.banner_primario {
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;

  background: $cinza url("/1_images/1_layout/1_home/home_banner-primario-p.jpg")
    no-repeat scroll 70%;
  background-size: cover;
}

.banner_secundario {
  width: 100%;
  height: 15rem;
  color: $branco;

  box-sizing: border-box;
  padding: 0 5vw 0 5vw;
  margin-bottom: 3rem;

  text-align: center;

  @extend %flexbox;
  flex-direction: column;
  justify-content: center;

  background: $cinza
    url("/1_images/1_layout/1_home/home_banner-secundario-p.jpg") no-repeat
    scroll 70%;
  background-size: cover;

  h1 {
    font-weight: bold;
    font-size: 1.5rem;
    margin-bottom: 0.5rem;
  }

  p {
    font-size: $pequena;
  }

  #btn_saibaMais {
    width: 12rem;
    background: #eb982f;
    margin-top: 1.5rem;
    padding: 1rem;

    a {
      text-transform: uppercase;
      font-weight: bold;
      color: $branco;
    }

    transition: 0.2s ease-in-out;
    &:hover {
      background: #ec8a09;
    }
  }
}
