@import "./horariosPdf.scss";
@import "./passagens.scss";
@import "./itinerarios.scss";
@import "./horarios.scss";

.secao.home {
  @extend %sectionHome;
  margin-bottom: 5rem;
  padding: 0 5vw 0 5vw;
}

.secao.home.horarios {
  margin-bottom: 0;
}
