.horarios {
  .horario {
    @extend %slider;
    text-align: center;

    .titulo {
      font-size: 1.5rem;
      text-transform: uppercase;
    }
  }
}

@media #{$m-pequeno} {
  .horario {
    margin: 0 0.5rem 0 0.5rem;
  }
}
