.horariosPdf .tabelas {
  display: grid;
}

.horariosPdf .tabela {
  @extend %borda;
  color: $c-cinza;

  @extend %flexbox;
  padding: 1.5rem;

  margin-bottom: 1.5rem;

  .icone_pdf {
    width: 2.5rem;
    margin-right: 1rem;
  }

  transition: 0.2s ease-in-out;
  &:hover {
    border: 1px solid $c-azul;
    background: $c-branco;
    color: $c-azul;
  }
}

.horariosPdf .tabela.charqueada {
  margin-bottom: 0;
}

@media #{$m-pequeno} {
  .horariosPdf .tabelas {
    grid-template-columns: 1fr 1fr;
  }

  .horariosPdf .tabela {
    min-width: 15rem;
    margin-right: 1rem;
  }

  .horariosPdf .tabela.charqueada {
    margin-right: 0;
    margin-left: 1rem;
  }
}
