body {
  font-family: "Lato", sans-serif;
  color: $c-cinza;
}

button {
  border: none;
  background: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: $c-azulClaro;
  cursor: pointer;
}

.icone {
  filter: invert(100);
  width: 1.2rem;
  margin-right: 0.5rem;
}

.separador {
  @extend %separador;
}
