body {
  font-family: "Lato", sans-serif;
  color: $c-cinza;
}

button {
  cursor: pointer;

  background: none;
  border: none;
  border-radius: 0.2rem;
}

a {
  cursor: pointer;

  text-decoration: none;
  color: $c-branco;
}

.icone {
  width: 1.2rem;
  margin-right: 0.5rem;
  filter: invert(100);
}

.separador {
  @extend %separador;
}
