body {
  font-family: "Lato", sans-serif;
  color: $c-cinza;
}

button {
  cursor: pointer;

  background: none;
  border: none;
  border-radius: 0.2rem;
}

a {
  cursor: pointer;

  text-decoration: none;
  color: $c-branco;
}

.icone {
  width: 1.2rem;
  margin-right: 0.5rem;
  filter: invert(100);
}

.separador {
  @extend %separador;
}

.separador_vertical {
  @extend %separadorVertical;
}

.campo_input {
  width: 100%;

  padding: 1rem;

  @extend %borda;
  border-radius: $b-input;
}

.msg_erro {
  width: 100%;
  padding: 0.5rem;

  font-size: $f-pequeno;
  text-align: end;
  font-style: italic;

  color: crimson;
}

.input_erro {
  border: 1px solid crimson;
}
