.desktop {
  display: none;
}

.desktop .links_box {
  @extend %flexbox;
  justify-content: space-between;
}

.desktop .link {
  color: $c-cinza;
  height: 7rem;

  transition: all 0.1s ease-out;

  &:hover {
    color: $c-azul;
    border-bottom: 5px solid $c-azul;
  }
}

.desktop li {
  height: 7rem;

  @extend %flexbox;
  padding: 0.7rem;

  text-align: center;
  text-transform: uppercase;
  font-size: $f-pequeno;

  transition: 0.2s ease-out;
}

.dropdown_box {
  transition: all 0.1s ease-out;
  height: 7rem;

  &:hover {
    border-bottom: 5px solid $c-azul;
  }
}

.dropdown {
  background: white;
  position: absolute;

  visibility: hidden;
  transform: translateY(-10%);
  opacity: 0;

  @extend %borda;
  border-bottom: none;

  transition: all 0.3s ease-out;

  .dropdown_link {
    height: auto;
    color: $c-cinza;
    width: 100%;

    &:hover {
      color: $c-azul;
      border-bottom: 0;
    }
  }

  .dropdown_texto {
    height: auto;
    border-bottom: 1px solid $c-cinzaClaro;

    &:hover {
      background: $c-branco;
    }
  }
}

.dropdown_box:hover .dropdown {
  visibility: visible;
  transform: translateY(0%);
  opacity: 1;
}

/*
.dropdown {
  visibility: hidden;
  background: white;

  transition: 0.3s ease-out;
  transform: translateY(-10%);
  opacity: 0;

  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 1rem;

  position: absolute;

  li {
    height: auto;
  }
}
*/

@media #{$m-medio} {
  .desktop {
    display: flex;
  }
}

@media #{$m-grande} {
  .desktop li {
    padding: 1rem;
  }
}
