@charset "UTF-8";
.footer_copyright, .footer_navbar .retiradaDoVT .item,
.footer_navbar .atendimento .item, .desktop_link, .desktop_links, .mobile .menu_icone, .navbar_menu, .navbar_topo .links_esquerda, .navbar_topo .link, .navbar_topo, .tabela, .banner_secundario, .horarios .horario, .itinerarios .itinerario, .passagem button, .passagem, section .titulo {
  display: flex;
  justify-content: center;
  align-items: center;
}

section .titulo {
  flex-direction: column;
  margin-bottom: 1rem;
}
section .titulo h1 {
  color: #0098da;
  font-weight: bold;
  font-size: 1.8rem;
  margin-bottom: 0.5rem;
}
section .titulo p {
  color: #637281;
  font-size: 0.8rem;
}

.separador {
  width: 5rem;
  height: 0.2rem;
  background: #e2e2e2;
  border-radius: 0.2rem;
  margin: 1rem 0 1rem 0;
}

.tabela, .horarios .horario, .itinerarios .itinerario, .passagem .img_passagem, .passagem {
  border: 1px solid #e2e2e2;
}

.passagem {
  flex-direction: column;
  padding: 1.5rem;
  text-align: center;
}
.passagem .img_passagem {
  width: 10rem;
  margin-bottom: 2rem;
}
.passagem h2 {
  font-weight: bold;
  margin-bottom: 1rem;
  color: #333333;
}
.passagem p {
  font-size: 0.8rem;
}
.passagem span {
  margin: 1rem 0 2rem 0;
  font-weight: bold;
  font-size: 1.3rem;
  color: #333333;
}
.passagem button {
  background: #0098da;
  width: 100%;
  color: white;
  text-transform: uppercase;
  font-weight: bold;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}
.passagem button:hover {
  background: #0086c0;
}

.horarios .horario, .itinerarios .itinerario {
  flex-direction: column;
  padding: 1.5rem;
}
.horarios .horario h1, .itinerarios .itinerario h1,
.horarios .horario p,
.itinerarios .itinerario p {
  margin-bottom: 1rem;
}
.horarios .horario h1, .itinerarios .itinerario h1 {
  color: #333333;
  font-weight: bold;
  font-size: 1.8rem;
}
.horarios .horario h1 span, .itinerarios .itinerario h1 span {
  font-size: 1rem;
}
.horarios .horario button, .itinerarios .itinerario button {
  margin-top: 1rem;
  background: #e2e2e2;
  font-weight: bold;
  text-transform: uppercase;
  width: 10rem;
  padding: 1rem;
}
.horarios .horario button a, .itinerarios .itinerario button a {
  color: #637281;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  content: "•";
  font-size: 22px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.25;
  color: black;
}

.slider {
  display: flex;
  flex-wrap: wrap;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #637281;
}

button {
  border: none;
  background: none;
  border-radius: 0.2rem;
  cursor: pointer;
}

a {
  text-decoration: none;
  color: #84f1ff;
  cursor: pointer;
}

.icone {
  filter: invert(100);
  width: 1.2rem;
  margin-right: 0.5rem;
}

.banner_primario {
  width: 100%;
  height: 15rem;
  margin-bottom: 2rem;
  background: #637281 url("/1_images/1_layout/1_home/home_banner-primario-p.jpg") no-repeat scroll 70%;
  background-size: cover;
}

.banner_secundario {
  width: 100%;
  height: 15rem;
  color: #f0f0f0;
  box-sizing: border-box;
  padding: 0 5vw 0 5vw;
  margin-bottom: 3rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: #637281 url("/1_images/1_layout/1_home/home_banner-secundario-p.jpg") no-repeat scroll 70%;
  background-size: cover;
}

.banner_secundario .titulo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.banner_secundario .texto {
  font-size: 0.8rem;
}

.banner_secundario #btn_saibaMais {
  width: 12rem;
  background: #eb982f;
  margin-top: 1.5rem;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}
.banner_secundario #btn_saibaMais:hover {
  background: #ec8a09;
}

#btn_saibaMais .link {
  text-transform: uppercase;
  font-weight: bold;
  color: #f0f0f0;
}

@media only screen and (min-width: 600px) {
  .banner_primario {
    height: 80vh;
  }

  .banner_secundario .titulo {
    font-size: 2rem;
  }

  .banner_secundario .texto {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .banner_primario {
    background-image: url("/1_images/1_layout/1_home/home_banner-primario-g.jpg");
  }

  .banner_secundario {
    background-image: url("/1_images/1_layout/1_home/home_banner-secundario-g.jpg");
  }
}
#parallax {
  min-height: 15rem;
  background: transparent;
}

.tabelas {
  display: grid;
}

.tabela {
  color: #637281;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: 0.2s ease-in-out;
}
.tabela .icone_pdf {
  width: 2.5rem;
  margin-right: 1rem;
}
.tabela:hover {
  border: 1px solid #0098da;
  background: #f0f0f0;
  color: #0098da;
}

.tabela.charqueada {
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  .tabelas {
    grid-template-columns: 1fr 1fr;
  }

  .tabela {
    min-width: 15rem;
    margin-right: 1rem;
  }

  .tabela.charqueada {
    margin-right: 0;
    margin-left: 1rem;
  }
}
.passagens_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.aviso {
  background: #f5f5f5;
  box-shadow: 0 3px 10px darkgray;
  margin: 1rem -5vw 0 -5vw;
  padding: 4rem 5vw 4rem 5vw;
  overflow: hidden;
  position: relative;
}

.aviso_img {
  width: 12rem;
  height: 10rem;
  position: absolute;
  top: 7rem;
  left: 4rem;
  opacity: 0.05;
  transform: scale(3) rotate(-10deg);
  background: #f5f5f5 url("/1_images/1_layout/1_home/home_aviso.png") no-repeat scroll center;
  background-size: cover;
}

.aviso_titulo {
  color: crimson;
  font-weight: bold;
  text-transform: uppercase;
  font-size: 0.8rem;
  margin-bottom: 1rem;
  text-align: start;
}

.aviso_subtitulo {
  color: #333333;
  font-weight: bold;
  text-transform: uppercase;
  margin-bottom: 0.5rem;
}

.aviso_texto {
  font-size: 0.8rem;
  line-height: 1.6;
  margin-bottom: 0.5rem;
  text-justify: inter-word;
  text-align: justify;
}

.passagem {
  margin-bottom: 2rem;
}
.passagem:nth-child(4) {
  margin-right: 0;
}

@media only screen and (min-width: 600px) {
  .passagens_box {
    grid-template-columns: 1fr 1fr;
  }

  .passagem:nth-child(odd) {
    margin-right: 1rem;
  }

  .passagem:nth-child(even) {
    margin-left: 1rem;
  }

  .aviso_img {
    top: 3rem;
    transform: scale(2.5) rotate(-10deg);
  }
}
@media only screen and (min-width: 1200px) {
  .passagens_box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .passagem:nth-child(odd) {
    margin-right: 0;
  }

  .passagem:nth-child(even) {
    margin-left: 0;
  }

  .passagem {
    margin-right: 1rem !important;
  }

  .passagem:nth-last-child(1) {
    margin-right: 0;
  }
}
.horarios .horario {
  text-align: center;
}
.horarios .horario h1 {
  font-size: 1.5rem;
  text-transform: uppercase;
}

section {
  margin-bottom: 5rem;
  padding: 0 5vw 0 5vw;
}

section.horarios {
  margin-bottom: 0;
}

.navbar_topo {
  background: #637281;
  font-size: 0.8rem;
  color: #f0f0f0;
  padding: 0 5vw 0 5vw;
}
.navbar_topo .link {
  padding: 0.6rem 1rem 0.6rem 1rem;
}
.navbar_topo .telefone,
.navbar_topo .login {
  padding-left: 0;
}
.navbar_topo .login {
  padding-right: 0;
}
.navbar_topo .links_esquerda {
  width: 100%;
  justify-content: flex-end;
}
.navbar_topo .telefone,
.navbar_topo .email,
.navbar_topo .login {
  display: none;
}

@media only screen and (min-width: 600px) {
  .navbar_topo {
    justify-content: flex-start;
  }
  .navbar_topo .telefone {
    display: flex;
  }
  .navbar_topo .links_esquerda {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar_topo {
    justify-content: space-between;
  }
  .navbar_topo .telefone,
.navbar_topo .email {
    border-right: 1px solid #535f6b;
  }
  .navbar_topo .carrinho,
.navbar_topo .email {
    border-left: 1px solid #738394;
  }
  .navbar_topo .login {
    margin-right: 0;
  }
  .navbar_topo .email,
.navbar_topo .login {
    display: flex;
  }
  .navbar_topo .links_esquerda {
    justify-content: flex-start;
    width: auto;
  }
}
.navbar_menu {
  padding: 1rem 5vw 1rem 5vw;
  justify-content: space-between;
}

#navbar_logo {
  width: 12rem;
}

.mobile .menu_icone {
  cursor: pointer;
  width: 2rem;
  height: 1.3rem;
  flex-direction: column;
  justify-content: space-between;
}
.mobile .menu_icone .menu_barra {
  background: #637281;
  width: 100%;
  height: 0.25rem;
  border-radius: 0.3rem;
}

.desktop {
  display: none;
}

.desktop_links {
  justify-content: space-between;
}
.desktop_links a {
  color: #637281;
  transition: 0.2s ease-out;
}
.desktop_links a:hover {
  height: 7rem;
  color: #0098da;
  border-bottom: 5px solid #0098da;
}

.desktop_link {
  height: 7rem;
  padding: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media only screen and (min-width: 600px) {
  #navbar_logo {
    width: 15rem;
  }

  .menu_icone {
    width: 2.5rem;
    height: 1.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar_menu {
    padding: 0 5vw 0 5vw;
  }

  .mobile {
    display: none;
  }

  .desktop {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  #navbar_logo {
    width: 17rem;
  }

  .desktop_link {
    padding: 1rem;
  }
}
footer {
  margin-top: 10rem;
}

.footer_navbar {
  background: #2c3136;
  padding: 2rem 5vw 2rem 5vw;
  display: grid;
  grid-template-columns: 45% 10% 45%;
  color: #f0f0f0;
  font-size: 0.8rem;
}
.footer_navbar .icone {
  opacity: 0.3;
}
.footer_navbar .categorias h1,
.footer_navbar .categorias a {
  color: #f0f0f0;
  display: block;
}
.footer_navbar .categorias h1 {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}
.footer_navbar .categorias .separador {
  background: #637281;
  width: 2rem;
}
.footer_navbar .categorias a {
  line-height: 2;
  transition: 0.2s ease-out;
}
.footer_navbar .categorias a:hover {
  color: #637281;
}
.footer_navbar .retiradaDoVT,
.footer_navbar .atendimento {
  grid-column: 1/4;
  justify-self: start;
  width: 100%;
  margin-top: 2rem;
}
.footer_navbar .retiradaDoVT .item,
.footer_navbar .atendimento .item {
  justify-content: flex-start;
  margin-bottom: 1rem;
}
.footer_navbar .retiradaDoVT .item p,
.footer_navbar .atendimento .item p {
  line-height: 2;
}
.footer_navbar .retiradaDoVT .item img,
.footer_navbar .atendimento .item img {
  padding-top: 0.3rem;
  align-self: flex-start;
  width: 1.5rem;
}
.footer_navbar .separador_vertical {
  width: 1px;
  height: 10rem;
  background: linear-gradient(to bottom, transparent, #637281, transparent);
  justify-self: center;
}

.footer_copyright {
  flex-direction: column;
  text-align: center;
  padding: 2rem 5vw 2rem 5vw;
  background: #22272c;
  color: #f0f0f0;
  font-size: 0.8rem;
}
.footer_copyright p {
  margin-bottom: 2rem;
}
.footer_copyright img {
  width: 2rem;
}

/*# sourceMappingURL=styles.css.map */
