@charset "UTF-8";
.categorias .item, .rodape_copyright, .navbar_topo .links_esquerda, .navbar_topo .link, .navbar_topo, .navbar_menu, .mobile .hamburger, .desktop .link, .desktop .links_box, .tabela, .banner_secundario, .horarios .horario, .itinerarios .itinerario, .passagem .btn_comprar, .passagem, .secao .titulo_box {
  display: flex;
  justify-content: center;
  align-items: center;
}

.secao .titulo_box {
  flex-direction: column;
  margin-bottom: 1rem;
}
.secao .titulo_box .titulo {
  margin-bottom: 0.5rem;
  font-weight: bold;
  font-size: 1.8rem;
  color: #0098da;
}
.secao .titulo_box .subtitulo {
  font-size: 0.8rem;
  color: #637281;
}

.separador {
  width: 5rem;
  height: 0.2rem;
  margin: 1rem 0 1rem 0;
  background: #e2e2e2;
  border-radius: 0.2rem;
}

.tabela, .horarios .horario, .itinerarios .itinerario, .passagem .img_passagem, .passagem {
  border: 1px solid #e2e2e2;
}

.passagem {
  padding: 1.5rem;
  flex-direction: column;
  text-align: center;
}
.passagem .img_passagem {
  width: 10rem;
  margin-bottom: 2rem;
}
.passagem .titulo {
  margin-bottom: 1rem;
  font-weight: bold;
  color: #333333;
}
.passagem .subtitulo {
  font-size: 0.8rem;
}
.passagem .valor {
  margin: 1rem 0 2rem 0;
  font-weight: bold;
  font-size: 1.3rem;
  color: #333333;
}
.passagem .btn_comprar {
  width: 100%;
  padding: 1rem;
  text-transform: uppercase;
  font-weight: bold;
  background: #0098da;
  color: white;
  transition: 0.2s ease-in-out;
}
.passagem .btn_comprar:hover {
  background: #0086c0;
}

.horarios .horario, .itinerarios .itinerario {
  flex-direction: column;
  padding: 1.5rem;
}
.horarios .horario .titulo, .itinerarios .itinerario .titulo,
.horarios .horario .subtitulo,
.itinerarios .itinerario .subtitulo {
  margin-bottom: 1rem;
}
.horarios .horario .titulo, .itinerarios .itinerario .titulo {
  font-weight: bold;
  font-size: 1.8rem;
  color: #333333;
}
.horarios .horario .titulo span, .itinerarios .itinerario .titulo span {
  font-size: 1rem;
}
.horarios .horario .btn_visualizar, .itinerarios .itinerario .btn_visualizar {
  width: 10rem;
  padding: 1rem;
  margin-top: 1rem;
  font-weight: bold;
  text-transform: uppercase;
  background: #e2e2e2;
}
.horarios .horario .btn_visualizar a, .itinerarios .itinerario .btn_visualizar a {
  color: #637281;
}

.slick-dots li {
  position: relative;
  display: inline-block;
  width: 20px;
  height: 20px;
  margin: 0 5px;
  padding: 0;
  cursor: pointer;
}

.slick-dots li button {
  font-size: 0;
  line-height: 0;
  display: block;
  width: 20px;
  height: 20px;
  padding: 5px;
  cursor: pointer;
  color: transparent;
  border: 0;
  outline: none;
  background: transparent;
}

.slick-dots li button:before {
  content: "•";
  font-size: 22px;
  line-height: 20px;
  position: absolute;
  top: 0;
  left: 0;
  width: 20px;
  height: 20px;
  text-align: center;
  opacity: 0.25;
  color: black;
}

.slider {
  display: flex;
  flex-wrap: wrap;
}

/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}

body {
  line-height: 1;
}

ol,
ul {
  list-style: none;
}

blockquote,
q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

* {
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  color: #637281;
}

button {
  cursor: pointer;
  background: none;
  border: none;
  border-radius: 0.2rem;
}

a {
  cursor: pointer;
  text-decoration: none;
  color: #84f1ff;
}

.icone {
  width: 1.2rem;
  margin-right: 0.5rem;
  filter: invert(100);
}

.banner,
.parallax {
  padding-top: 7.5rem;
}

.banner_primario {
  width: 100%;
  height: 17rem;
  margin-bottom: 2rem;
  background: #637281 url("/1_images/1_layout/1_home/home_banner-primario-p.jpg") no-repeat scroll 70%;
  background-size: cover;
}

.banner_secundario {
  width: 100%;
  height: 15rem;
  color: #f0f0f0;
  box-sizing: border-box;
  padding: 0 5vw 0 5vw;
  margin-bottom: 3rem;
  text-align: center;
  flex-direction: column;
  justify-content: center;
  background: #637281 url("/1_images/1_layout/1_home/home_banner-secundario-p.jpg") no-repeat scroll 70%;
  background-size: cover;
}

.banner_secundario .titulo {
  font-weight: bold;
  font-size: 1.5rem;
  margin-bottom: 0.5rem;
}

.banner_secundario .texto {
  font-size: 0.8rem;
}

.banner_secundario #btn_saibaMais {
  width: 12rem;
  background: #eb982f;
  margin-top: 1.5rem;
  padding: 1rem;
  transition: 0.2s ease-in-out;
}
.banner_secundario #btn_saibaMais:hover {
  background: #ec8a09;
}

#btn_saibaMais .link {
  text-transform: uppercase;
  font-weight: bold;
  color: #f0f0f0;
}

@media only screen and (min-width: 600px) {
  .banner_secundario .titulo {
    font-size: 2rem;
  }

  .banner_secundario .texto {
    font-size: 1rem;
  }
}
@media only screen and (min-width: 1000px) {
  .banner_primario {
    height: 20rem;
    background-image: url("/1_images/1_layout/1_home/home_banner-primario-g.jpg");
  }

  .banner_secundario {
    background-image: url("/1_images/1_layout/1_home/home_banner-secundario-g.jpg");
  }
}
#parallax {
  min-height: 15rem;
  background: transparent;
}

.tabelas {
  display: grid;
}

.tabela {
  color: #637281;
  padding: 1.5rem;
  margin-bottom: 1.5rem;
  transition: 0.2s ease-in-out;
}
.tabela .icone_pdf {
  width: 2.5rem;
  margin-right: 1rem;
}
.tabela:hover {
  border: 1px solid #0098da;
  background: #f0f0f0;
  color: #0098da;
}

.tabela.charqueada {
  margin-bottom: 0;
}

@media only screen and (min-width: 600px) {
  .tabelas {
    grid-template-columns: 1fr 1fr;
  }

  .tabela {
    min-width: 15rem;
    margin-right: 1rem;
  }

  .tabela.charqueada {
    margin-right: 0;
    margin-left: 1rem;
  }
}
.passagens_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.passagem {
  margin-bottom: 2rem;
}
.passagem:nth-last-child(1) {
  margin-right: 0;
}

.aviso {
  overflow: hidden;
  position: relative;
  margin: 1rem -5vw 0 -5vw;
  padding: 4rem 5vw 4rem 5vw;
  background: #f5f5f5;
  box-shadow: 0 3px 10px darkgray;
}

.aviso .img_alerta {
  width: 12rem;
  height: 10rem;
  position: absolute;
  top: 7rem;
  left: 4rem;
  opacity: 0.05;
  transform: scale(3) rotate(-10deg);
  background: #f5f5f5 url("/1_images/1_layout/1_home/home_aviso.png") no-repeat scroll center;
  background-size: cover;
}

.aviso .titulo {
  margin-bottom: 1rem;
  font-size: 0.8rem;
  font-weight: bold;
  text-transform: uppercase;
  text-align: start;
  color: crimson;
}

.aviso .subtitulo {
  margin-bottom: 0.5rem;
  font-weight: bold;
  text-transform: uppercase;
  color: #333333;
}

.aviso .texto {
  margin-bottom: 0.5rem;
  line-height: 1.6;
  font-size: 0.8rem;
  text-justify: inter-word;
  text-align: justify;
}

@media only screen and (min-width: 600px) {
  .passagens_box {
    grid-template-columns: 1fr 1fr;
  }

  .passagem:nth-child(odd) {
    margin-right: 1rem;
  }

  .passagem:nth-child(even) {
    margin-left: 1rem;
  }

  .aviso .img_alerta {
    top: 3rem;
    transform: scale(2.5) rotate(-10deg);
  }
}
@media only screen and (min-width: 600px) {
  .aviso {
    padding: 4rem 10vw 4rem 10vw;
  }
}
@media only screen and (min-width: 1200px) {
  .passagens_box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .passagem:nth-child(odd) {
    margin-right: 0;
  }

  .passagem:nth-child(even) {
    margin-left: 0;
  }

  .passagem {
    margin-right: 1rem !important;
  }

  .passagem:nth-last-child(1) {
    margin-right: 0;
  }
}
@media only screen and (min-width: 600px) {
  .itinerario {
    margin: 0 0.5rem 0 0.5rem;
  }
}
.horarios .horario {
  text-align: center;
}
.horarios .horario .titulo {
  font-size: 1.5rem;
  text-transform: uppercase;
}

@media only screen and (min-width: 600px) {
  .horario {
    margin: 0 0.5rem 0 0.5rem;
  }
}
.secao {
  margin-bottom: 5rem;
  padding: 0 5vw 0 5vw;
}

.secao.horarios {
  margin-bottom: 0;
}

.desktop {
  display: none;
}

.desktop .links_box {
  justify-content: space-between;
}
.desktop .links_box a {
  color: #637281;
  transition: 0.2s ease-out;
}
.desktop .links_box a:hover {
  height: 7rem;
  color: #0098da;
  border-bottom: 5px solid #0098da;
}

.desktop .link {
  height: 7rem;
  padding: 0.7rem;
  text-align: center;
  text-transform: uppercase;
  font-size: 0.8rem;
}

@media only screen and (min-width: 1000px) {
  .desktop {
    display: flex;
  }
}
@media only screen and (min-width: 1200px) {
  .desktop .link {
    padding: 1rem;
  }
}
.mobile .hamburger {
  cursor: pointer;
  width: 2rem;
  height: 1.3rem;
  flex-direction: column;
  justify-content: space-between;
}

.mobile .hamburger .barra {
  width: 100%;
  height: 0.25rem;
  background: #637281;
  border-radius: 0.3rem;
}

.mobile .menu {
  width: 70vw;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  transform: translateX(-100%);
  opacity: 0;
  box-shadow: 1rem 0 1rem rgba(123, 133, 143, 0.5);
  transition: 0.3s ease-out;
}

.mobile .bg_menu {
  width: 100%;
  height: 100vh;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(240, 240, 240, 0.7);
  transform: translateX(-100%);
  opacity: 0;
  transition: 0.2s ease-out;
}

.mobile .menu .lista {
  width: 100%;
  height: 100%;
  background: #f0f0f0;
}

.mobile .menu .link {
  padding: 1rem;
  font-size: 0.8rem;
  text-transform: uppercase;
  border-bottom: 1px solid #e2e2e2;
  background: #fafafa;
  color: #637281;
}

.mobile .menu .link.hover {
  transition: 0.2s ease-out;
}
.mobile .menu .link.hover:hover {
  background: #e2e2e2;
  color: #0098da;
}

.mobile .menu .topo {
  background: #637281;
  color: #f0f0f0;
  text-transform: none;
}

@media only screen and (min-width: 600px) {
  .menu_icone {
    width: 2.5rem;
    height: 1.5rem;
  }
}
@media only screen and (min-width: 1000px) {
  .mobile {
    display: none;
  }
}
.navbar_menu {
  justify-content: space-between;
  padding: 1rem 5vw 1rem 5vw;
  background: white;
}

#navbar_logo {
  width: 12rem;
}

@media only screen and (min-width: 600px) {
  #navbar_logo {
    width: 15rem;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar_menu {
    padding: 0 5vw 0 5vw;
  }
}
@media only screen and (min-width: 1200px) {
  #navbar_logo {
    width: 17rem;
  }
}
.navbar_topo {
  padding: 0 5vw 0 5vw;
  font-size: 0.8rem;
  background: #637281;
  color: #f0f0f0;
}
.navbar_topo .link {
  padding: 0.79rem 1rem 0.79rem 1rem;
}
.navbar_topo .telefone,
.navbar_topo .login {
  padding-left: 0;
}
.navbar_topo .login {
  padding-right: 0;
}
.navbar_topo .links_esquerda {
  width: 100%;
  justify-content: flex-end;
}
.navbar_topo .telefone,
.navbar_topo .email,
.navbar_topo .login {
  display: none;
}

@media only screen and (min-width: 600px) {
  .navbar_topo {
    justify-content: flex-start;
  }
  .navbar_topo .telefone {
    display: flex;
  }
  .navbar_topo .links_esquerda {
    justify-content: space-between;
  }
}
@media only screen and (min-width: 1000px) {
  .navbar_topo {
    justify-content: space-between;
  }
  .navbar_topo .telefone,
.navbar_topo .email {
    border-right: 1px solid #535f6b;
  }
  .navbar_topo .carrinho,
.navbar_topo .email {
    border-left: 1px solid #738394;
  }
  .navbar_topo .login {
    margin-right: 0;
  }
  .navbar_topo .email,
.navbar_topo .login {
    display: flex;
  }
  .navbar_topo .links_esquerda {
    justify-content: flex-start;
    width: auto;
  }
}
#navbar {
  position: fixed;
  width: 100%;
  z-index: 1;
}

.rodape_copyright {
  flex-direction: column;
  text-align: center;
  padding: 2rem 5vw 2rem 5vw;
  background: #22272c;
  color: #f0f0f0;
  font-size: 0.8rem;
}

.rodape_copyright .texto {
  margin-bottom: 2rem;
}

.rodape_copyright .logo {
  width: 2rem;
}

@media only screen and (min-width: 600px) {
  .rodape_copyright {
    flex-direction: row;
    justify-content: space-between;
  }

  .rodape_copyright .texto {
    margin-bottom: 0;
  }
}
.rodape_navbar .icone {
  padding-top: 0.3rem;
  align-self: flex-start;
  width: 1.5rem;
  opacity: 0.3;
}

.rodape_navbar {
  background: #2c3136;
  padding: 2rem 5vw 2rem 5vw;
  display: grid;
  grid-template-columns: 40% 20% 40%;
  color: #f0f0f0;
  font-size: 0.8rem;
}

.categorias .titulo,
.categorias_link {
  color: #f0f0f0;
  display: block;
}

.categorias .titulo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.categorias .separador {
  background: #637281;
  width: 2rem;
}

.categorias_link {
  line-height: 2;
  transition: 0.2s ease-out;
}
.categorias_link:hover {
  color: #637281;
}

.retiradaDoVT,
.atendimento {
  grid-column: 1/4;
  justify-self: start;
  width: 100%;
  margin-top: 2rem;
}

.categorias .item {
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.categorias .item .texto {
  line-height: 2;
}

.rodape_navbar .separador_vertical {
  width: 1px;
  height: 10rem;
  background: linear-gradient(to bottom, transparent, #637281, transparent);
  justify-self: center;
}

.rodape_navbar .separador_vertical.displayNone {
  display: none;
}

@media only screen and (min-width: 600px) {
  .retiradaDoVT .item_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}
@media only screen and (min-width: 1000px) {
  .retiradaDoVT .item_box .item:nth-child(even) {
    justify-self: center;
  }

  .rodape_navbar .separador_vertical.displayNone {
    display: block;
  }

  .retiradaDoVT,
.atendimento {
    grid-column: auto;
    margin: 0;
  }

  .rodape_navbar {
    display: grid;
    grid-template-columns: 10% 6.6% 10% 6.6% 40% 6.6% 20%;
  }

  .categorias .item {
    margin: 0;
    margin-bottom: 1rem;
    align-items: flex-start;
  }
}
.rodape {
  margin-top: 10rem;
}

/*# sourceMappingURL=styles.css.map */
