%flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

%sectionHome {
  .titulo {
    @extend %flexbox;
    flex-direction: column;
    margin-bottom: 1rem;

    h1 {
      color: $c-azul;
      font-weight: bold;
      font-size: $f-grande;
      margin-bottom: 0.5rem;
    }

    p {
      color: $c-cinza;
      font-size: $f-pequeno;
    }
  }
}

%separador {
  width: 5rem;
  height: 0.2rem;
  background: $c-cinzaClaro;
  border-radius: 0.2rem;

  margin: 1rem 0 1rem 0;
}

%borda {
  border: 1px solid $c-cinzaClaro;
}

%passagem {
  @extend %borda;

  @extend %flexbox;
  flex-direction: column;

  padding: 1.5rem;
  text-align: center;

  .img_passagem {
    width: 10rem;
    margin-bottom: 2rem;
    @extend %borda;
  }

  h2 {
    font-weight: bold;
    margin-bottom: 1rem;
    color: $c-preto;
  }

  p {
    font-size: $f-pequeno;
  }

  span {
    margin: 1rem 0 2rem 0;
    font-weight: bold;
    font-size: 1.3rem;
    color: $c-preto;
  }

  button {
    background: $c-azul;
    width: 100%;
    color: white;
    @extend %flexbox;
    text-transform: uppercase;
    font-weight: bold;
    padding: 1rem;

    transition: 0.2s ease-in-out;
    &:hover {
      background: rgb(0, 134, 192);
    }
  }
}

%carousel {
  @extend %borda;

  @extend %flexbox;
  flex-direction: column;

  padding: 1.5rem;

  h1,
  p {
    margin-bottom: 1rem;
  }

  h1 {
    color: $c-preto;
    font-weight: bold;
    font-size: $f-grande;

    span {
      font-size: 1rem;
    }
  }

  button {
    margin-top: 1rem;

    background: $c-cinzaClaro;
    font-weight: bold;
    text-transform: uppercase;
    width: 10rem;
    padding: 1rem;

    a {
      color: $c-cinza;
    }
  }
}
