%flexbox {
  display: flex;
  justify-content: center;
  align-items: center;
}

%sectionHome {
  .titulo_box {
    @extend %flexbox;
    flex-direction: column;

    margin-bottom: 1rem;
  }

  .titulo_box .titulo {
    margin-bottom: 0.5rem;

    font-weight: bold;
    font-size: $f-grande;

    color: $c-azul;
  }

  .titulo_box .subtitulo {
    font-size: $f-pequeno;
    color: $c-cinza;
  }
}

%separador {
  width: 5rem;
  height: 0.2rem;

  margin: 1rem 0 1rem 0;

  background: $c-cinzaClaro;
  border-radius: 0.2rem;
}

%borda {
  border: 1px solid $c-cinzaClaro;
}

%passagem {
  @extend %borda;
  padding: 1.5rem;

  @extend %flexbox;
  flex-direction: column;

  text-align: center;

  .img_passagem {
    width: 10rem;

    margin-bottom: 2rem;
    @extend %borda;
  }

  .titulo {
    margin-bottom: 1rem;

    font-weight: bold;
    color: $c-preto;
  }

  .subtitulo {
    font-size: $f-pequeno;
  }

  .valor {
    margin: 1rem 0 2rem 0;

    font-weight: bold;
    font-size: 1.3rem;

    color: $c-preto;
  }

  .btn_comprar {
    width: 100%;

    @extend %flexbox;
    padding: 1rem;

    text-transform: uppercase;
    font-weight: bold;

    background: $c-azul;
    color: white;

    transition: 0.2s ease-in-out;
    &:hover {
      background: rgb(0, 134, 192);
    }
  }
}

%slider {
  @extend %flexbox;
  flex-direction: column;

  @extend %borda;
  padding: 1.5rem;

  .titulo,
  .subtitulo {
    margin-bottom: 1rem;
  }

  .titulo {
    font-weight: bold;
    font-size: $f-grande;

    color: $c-preto;

    span {
      font-size: 1rem;
    }
  }

  .btn_visualizar {
    width: 10rem;

    padding: 1rem;
    margin-top: 1rem;

    font-weight: bold;
    text-transform: uppercase;

    background: $c-cinzaClaro;

    a {
      color: $c-cinza;
    }
  }
}
