// Cores --------------------------------------

$branco: #f0f0f0;
$preto: #333333;

$cinza: #637281;
$cinzaClaro: #e2e2e2;

$azul: #0098da;
$azulClaro: #84f1ff;

// Fonte --------------------------------------

$pequena: 0.8rem;
$grande: 1.8rem;
