footer {
  margin-top: 10rem;
}

.footer_navbar {
  background: #2c3136;
  padding: 2rem 5vw 2rem 5vw;

  display: grid;
  grid-template-columns: 45% 10% 45%;

  color: $c-branco;
  font-size: $f-pequeno;

  .icone {
    opacity: 0.3;
  }

  .categorias {
    h1,
    a {
      color: $c-branco;
      display: block;
    }

    h1 {
      text-transform: uppercase;
      font-weight: bold;
      font-size: 1rem;
    }

    .separador {
      background: $c-cinza;
      width: 2rem;
    }

    a {
      line-height: 2;

      transition: 0.2s ease-out;
      &:hover {
        color: $c-cinza;
      }
    }
  }

  .usuario {
  }

  .retiradaDoVT,
  .atendimento {
    grid-column: 1/4;
    justify-self: start;
    width: 100%;

    margin-top: 2rem;

    .item {
      @extend %flexbox;
      justify-content: flex-start;
      margin-bottom: 1rem;

      p {
        line-height: 2;
      }

      img {
        padding-top: 0.3rem;
        align-self: flex-start;
        width: 1.5rem;
      }
    }
  }

  .separador_vertical {
    width: 1px;
    height: 10rem;
    background: linear-gradient(to bottom, transparent, $c-cinza, transparent);
    justify-self: center;
  }
}

.footer_copyright {
  @extend %flexbox;
  flex-direction: column;
  text-align: center;
  padding: 2rem 5vw 2rem 5vw;
  background: #22272c;
  color: $c-branco;
  font-size: $f-pequeno;

  p {
    margin-bottom: 2rem;
  }

  img {
    width: 2rem;
  }
}
