.rodape_navbar .icone {
  width: 1.5rem;

  padding-top: 0.3rem;
  align-self: flex-start;

  opacity: 0.3;
}

.rodape_navbar {
  display: grid;
  grid-template-columns: 40% 20% 40%;

  padding: 2rem 5vw 2rem 5vw;

  color: $c-branco;
  font-size: $f-pequeno;

  background: #2c3136;
}

.categorias .titulo,
.categorias_link {
  color: $c-branco;
  display: block;
}

.categorias .titulo {
  text-transform: uppercase;
  font-weight: bold;
  font-size: 1rem;
}

.categorias .separador {
  background: $c-cinza;
  width: 2rem;
}

.categorias_link {
  line-height: 2;
  transition: 0.2s ease-out;

  &:hover {
    color: $c-cinza;
  }
}

.retiradaDoVT,
.atendimento {
  width: 100%;

  grid-column: 1/4;
  justify-self: start;
  margin-top: 2rem;
}

.categorias .item {
  @extend %flexbox;
  justify-content: flex-start;
  margin-bottom: 1rem;
}

.categorias .item .texto {
  line-height: 2;
}

.rodape_navbar .separador_vertical {
  @extend %separadorVertical;
}

.rodape_navbar .separador_vertical.visivel {
  display: block;
}

@media #{$m-pequeno} {
  .retiradaDoVT .item_box {
    display: grid;
    grid-template-columns: 1fr 1fr;
  }
}

@media #{$m-medio} {
  .retiradaDoVT .item_box .item:nth-child(even) {
    justify-self: center;
  }

  .rodape_navbar .separador_vertical {
    display: block;
  }

  .retiradaDoVT,
  .atendimento {
    grid-column: auto;
    margin: 0;
  }

  .rodape_navbar {
    display: grid;
    grid-template-columns: 10% 6.6% 10% 6.6% 40% 6.6% 20%;
  }

  .categorias .item {
    margin: 0;
    margin-bottom: 1rem;
    align-items: flex-start;
  }
}
