.passagens_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.passagem {
  @extend %passagem;
  margin-bottom: 2rem;

  &:nth-last-child(1) {
    margin-right: 0;
  }
}

.aviso {
  overflow: hidden;
  position: relative;

  margin: 1rem -5vw 0 -5vw;
  padding: 4rem 5vw 4rem 5vw;

  background: #f5f5f5;
  box-shadow: 0 3px 10px darkgray;
}

.aviso .img_alerta {
  width: 12rem;
  height: 10rem;

  position: absolute;
  top: 7rem;
  left: 4rem;

  opacity: 0.05;
  transform: scale(3) rotate(-10deg);

  background: #f5f5f5 url("/1_images/1_layout/1_home/home_aviso.png") no-repeat
    scroll center;
  background-size: cover;
}

.aviso .titulo {
  margin-bottom: 1rem;

  font-size: $f-pequeno;
  font-weight: bold;
  text-transform: uppercase;
  text-align: start;

  color: crimson;
}

.aviso .subtitulo {
  margin-bottom: 0.5rem;

  font-weight: bold;
  text-transform: uppercase;

  color: $c-preto;
}

.aviso .texto {
  margin-bottom: 0.5rem;

  line-height: 1.6;
  font-size: $f-pequeno;
  text-justify: inter-word;
  text-align: justify;
}

@media #{$m-pequeno} {
  .passagens_box {
    grid-template-columns: 1fr 1fr;
  }

  .passagem:nth-child(odd) {
    margin-right: 1rem;
  }

  .passagem:nth-child(even) {
    margin-left: 1rem;
  }

  .aviso .img_alerta {
    top: 3rem;
    transform: scale(2.5) rotate(-10deg);
  }
}

@media #{$m-pequeno} {
  .aviso {
    padding: 4rem 10vw 4rem 10vw;
  }
}

@media #{$m-grande} {
  .passagens_box {
    grid-template-columns: 1fr 1fr 1fr 1fr;
  }

  .passagem:nth-child(odd) {
    margin-right: 0;
  }

  .passagem:nth-child(even) {
    margin-left: 0;
  }

  .passagem {
    margin-right: 1rem !important;
  }

  .passagem:nth-last-child(1) {
    margin-right: 0;
  }
}
