.passagens_box {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
}

.passagens {
  .aviso {
    background: #f5f5f5;
    box-shadow: 0 3px 10px darkgray;
    margin: 0 -5vw 0 -5vw;
    padding: 4rem 5vw 4rem 5vw;

    h2 {
      color: crimson;
      font-weight: bold;
      text-transform: uppercase;
      font-size: $pequena;
      margin-bottom: 1rem;
    }

    h1 {
      color: $preto;
      font-weight: bold;
      text-transform: uppercase;
      margin-bottom: 0.5rem;
    }

    p {
      font-size: $pequena;
      line-height: 1.6;
      margin-bottom: 0.5rem;
      text-justify: inter-word;
      text-align: justify;
    }
  }
}

.passagem {
  @extend %passagem;
  margin-bottom: 2rem;

  &:nth-child(4) {
    margin-right: 0;
  }
}
