.pagina {
  @extend %paginaTitulo;
  display: grid;

  .produtos_box,
  .produtos_topo,
  .total_box {
    @extend %borda;
  }
}

.pagina.carrinho .produtos_topo {
  padding: 1rem;

  display: flex;
  justify-content: space-between;

  background: $c-cinzaClaro;
  font-weight: bold;
}

.pagina.carrinho .produtos_corpo {
  height: 10rem;

  @extend %flexbox;
  padding: 2rem;

  text-align: center;
}

.pagina.carrinho {
  .preco,
  .subtotal {
    display: none;
  }
}

.pagina.carrinho .total_box {
  width: 15rem;

  display: flex;
  justify-content: space-between;
  justify-self: end;

  padding: 1rem;

  background: $c-cinzaClaro;

  font-weight: bold;
  text-transform: uppercase;
}

@media #{$m-medio} {
  .pagina {
    padding-top: 10rem;
  }

  .pagina.carrinho .total_box {
    width: 25rem;
  }

  .pagina.carrinho {
    .items_direita {
      display: flex;
      justify-content: flex-end;
    }

    .preco,
    .subtotal {
      display: flex;
    }

    .preco,
    .quantidade,
    .subtotal {
      margin-right: 5rem;
    }
  }
}
