.rodape_copyright {
  @extend %flexbox;
  flex-direction: column;

  padding: 2rem 5vw 2rem 5vw;

  text-align: center;
  font-size: $f-pequeno;

  background: #22272c;
  color: $c-branco;
}

.rodape_copyright .texto {
  margin-bottom: 2rem;
}

.rodape_copyright .logo {
  width: 2rem;
}

@media #{$m-pequeno} {
  .rodape_copyright {
    flex-direction: row;
    justify-content: space-between;
  }

  .rodape_copyright .texto {
    margin-bottom: 0;
  }
}
