.desktop {
  display: none;
}

.desktop .links_box {
  @extend %flexbox;
  justify-content: space-between;
}

.desktop .link {
  color: $c-cinza;
  height: 7rem;

  transition: 0.3s ease-out;

  &:hover {
    color: $c-azul;
    border-bottom: 5px solid $c-azul;
  }
}

.desktop li {
  height: 7rem;

  @extend %flexbox;
  padding: 0.7rem;

  text-align: center;
  text-transform: uppercase;
  font-size: $f-pequeno;

  transition: 0.2s ease-out;
}

@media #{$m-medio} {
  .desktop {
    display: flex;
  }
}

@media #{$m-grande} {
  .desktop li {
    padding: 1rem;
  }
}
