// Cores --------------------------------------

$c-branco: #f0f0f0;
$c-preto: #333333;

$c-cinza: #637281;
$c-cinzaClaro: #e2e2e2;

$c-azul: #0098da;
$c-azulClaro: #84f1ff;

// Fonte --------------------------------------

$f-pequeno: 0.8rem;
$f-medio: 1.4rem;
$f-grande: 1.8rem;

// Line height --------------------------------------

$lh-padrao: 1.5;

// Media queries --------------------------------------

$m-pequeno: "only screen and (min-width: 600px)";
$m-medio: "only screen and (min-width: 1000px)";
$m-grande: "only screen and (min-width: 1200px)";

// Bordas --------------------------------------

$b-input: 0.3em;
